* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  /* font-family: "system-ui", arial; */
}

body {
  height: 100vh;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  overflow: scroll;
  background: linear-gradient(190deg, rgb(12, 12, 12), rgb(12, 12, 12));
}

/*section 1*/

.section-1 {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

nav {
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  float: center;
  margin: 20px;
  padding: 20px;
  background-color: none;
}

.manu {
  margin: 0 30px 0 0;
  display: none;
}

.menu a {
  /* display: none; */
  clear: right;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 10px;
  line-height: 70px;
}

label {
  /* margin: 0 -100px 0 0; */
  margin-right: 20px;
  color: #ffffff;
  font-size: 40px;
  line-height: 70px;
  display: none;
  width: 26px;
  z-index: 100;
  float: right;
}

#toggle {
  display: none;
  /* margin-right: 40px; */
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ul li a {
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0px 10px;
  position: relative;
  transition: all 0.5s;
}

.main-title-container {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 5rem;
  background-color: none;
  margin-top: 250px;
  z-index: 50;
}

.manu-bar {
  display: none;
}

mark {
  color: rgb(255, 255, 255);
  padding: 0;
  background: none;
  background-image: linear-gradient(
    120deg,
    rgba(255, 204, 51, 0.74),
    rgba(255, 204, 51, 0.74)
  );
  background-repeat: no-repeat;
  background-position: 0 80%;
  background-size: 100% 1rem;
  position: relative;
}

mark:after {
  content: "|";
  opacity: 1;
  animation: typed-js-blink 0.7s infinite;
  -webkit-animation: typed-js-blink 0.7s infinite;
}

.type {
  margin: 0 auto;
  width: 200px;
  margin-top: 100px;
}
.type::after {
  content: "|";
  display: inline;
  animation: blink 0.7s infinite;
}

.typed-cursor {
  opacity: 0;
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*section 2*/

.section-2 {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.container-2 {
  /* display: flex; */
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.background-animation {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  justify-content: center;
  z-index: 5;
}

.about-container {
  position: relative;
  justify-content: center;
  /* position: absolute;
  display: flex;
  justify-content: flex-end; */
  align-items: center;
  margin: auto;
  width: 50%;
  height: 70vh;
  box-sizing: border-box;
  background-color: green;
  z-index: 10;
}

.text {
  position: absolute;
  justify-content: right;
  text-align: justify;
  text-justify: inter-word;
  top: 50%;
  width: 100%;
}

.title-2 {
  position: absolute;
  justify-content: right;
  text-align: justify;
  text-justify: inter-word;
  top: 40%;
  width: 100%;
}

@media only screen and (max-width: 700px) {
  body {
    margin: 0;
    background: none;
    background-color: rgb(0, 0, 0);
  }

  label {
    position: sticky;
    display: flex;
    cursor: pointer;
    justify-content: right;
    float: right;
    width: auto;
    z-index: 100;
    /* width: 26px;
      float: right; */
  }

  .menu-bar {
    height: 100vh;
    width: 100%;
  }

  .menu {
    background-color: rgb(212, 152, 42);
    padding: 120px;
    padding-top: 100px;
    padding-bottom: 90px;
    /* line-height: 50px; */
    text-align: center;
    width: 100%;
    display: none;
    z-index: 100;
  }

  .menu a {
    line-height: 50px;
    /* clear: right; */
    display: block;
    /* border-bottom: 1px solid #000000;
      border-width: 100%; */
    margin: 0;
    z-index: 100;
  }

  #toggle:checked + .menu {
    display: block;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .main-title-container {
    position: absolute;
    left: 0px;
    top: 0px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin: 0px;
    margin-top: 100px;
    margin-left: -8px;
    z-index: -50;
  }

  mark {
    color: rgb(255, 255, 255);
  }

  /*section 2*/

  .background-animation {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    z-index: 5;
  }

  .about-container {
    display: none;
  }

  .about-container-media {
    position: absolute;
    display: table;
    vertical-align: middle;
    /* justify-content: center; */
    align-items: center;
    z-index: 1000;
    width: 80%;
    height: 20%;
    /* margin: 10px;
    margin-left: 10px; */
  }

  .title-2-media {
    color: #ffffff;
    /* position: absolute; */
    /* display: flex;
    justify-content: center; */
    align-items: center;
    z-index: 100;
    /* width: 80%;
    height: 50%; */
    margin: 10px;
    margin-left: 10px;
  }

  .text-media {
    /* display: flex;
    justify-content: center; */
    line-height: 20px;
    text-align: justify;
    /* text-justify: inter-word; */
    color: #ffffff;
    z-index: 100;
  }

  .about-img {
    display: flex;
    position: absolute;
    width: 80px;
    top: -8%;
    left: 5%;
  }

  svg {
    z-index: 500;
  }
}
