* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  /* font-family: "system-ui", arial; */
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  background: linear-gradient(190deg, rgb(12, 12, 12), rgb(12, 12, 12));
}

/* .spine,
.spine-target {
  position: fixed;
  z-index: 2000;
}

.spine {
  top: 60vh;
  bottom: 0;
  left: calc(8.5vw - 2rem);
  width: 1px;
  background: white;
}

.spine-target {
  top: calc(50vh - 8px);
  left: calc(8.5vw - 2rem - 4px);
  width: 9px;
  height: 9px;
}

.circle {
  visibility: inherit;
  opacity: 1;
  transform: matrix(1, 0, 0, 1, 0, 0);
  background-color: rgb(226, 226, 226);
}

.pulse {
  position: absolute;
  width: 9px;
  height: 9px;
  transform-origin: center;
  border-radius: 3rem;
  background: transparent;
  border: 1px solid white;
}

.spine-target,
.circle,
.pulse {
  width: 9px;
  height: 9px;
  transform-origin: center;
  border-radius: 3rem;
  /* background: transparent; */
/* border: 1px solid var(--purple);
} */
/* */

/* .fade {
  transition: opacity 0.5 ease-in;
}

.fadeOut {
  opacity: 0.2;
}

.fadeIn {
  opacity: 1;
} */

/* .fade-in {
  opacity: 0;
  transition: opacity 250ms ease-in;
}

.fade-in.appear {
  opacity: 1;
} */

/*section 1*/

.section-1 {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  float: center;
  margin: 20px;
  padding: 20px;
  background-color: none;
}

.manu {
  margin: 0 30px 0 0;
  display: none;
}

.menu a {
  /* display: none; */
  clear: right;
  text-decoration: none;
  color: rgb(255, 255, 255);
  margin: 0 10px;
  line-height: 70px;
}

label {
  /* margin: 0 -100px 0 0; */
  margin-right: 20px;
  color: #ffffff;
  font-size: 40px;
  line-height: 70px;
  display: none;
  width: 26px;
  z-index: 100;
  float: right;
}

#toggle {
  display: none;
  /* margin-right: 40px; */
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

ul li a {
  color: #ffffff;
  font-size: 25px;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0px 10px;
  position: relative;
  transition: all 0.5s;
}

.main-title-container {
  font-size: 2.5rem;
  font-weight: 700;
  color: rgb(255, 255, 255);
  padding: 5rem;
  background-color: none;
  margin-top: 250px;
  z-index: 50;
}

.manu-bar {
  display: none;
}

mark {
  color: rgb(255, 255, 255);
  padding: 0;
  background: none;
  background-image: linear-gradient(
    120deg,
    rgba(255, 204, 51, 0.74),
    rgba(255, 204, 51, 0.74)
  );
  background-repeat: no-repeat;
  background-position: 0 80%;
  background-size: 100% 1rem;
  position: relative;
}

mark:after {
  content: "|";
  opacity: 1;
  animation: typed-js-blink 0.7s infinite;
  -webkit-animation: typed-js-blink 0.7s infinite;
}

.type {
  margin: 0 auto;
  width: 200px;
  margin-top: 100px;
}
.type::after {
  content: "|";
  display: inline;
  animation: blink 0.7s infinite;
}

.typed-cursor {
  opacity: 0;
  display: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*section 2*/

.section-2 {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.container-2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.background-animation {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  justify-content: center;
  z-index: 5;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: auto; */
  margin-top: 8.6%;
  width: 50%;
  height: 70vh;
  /* background-color: rgba(128, 128, 128, 0.068); */
  color: #ffffff;
  z-index: 10;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin-top: 8.6%;
  width: 20%;
  height: 70vh;
  background-color: none;
  z-index: 10;
}

.text {
  text-align: justify;
  line-height: 1.5;
  font-size: 20px;
  padding: 2em;
  max-width: 50em;
  z-index: 11;
}

.title-2 {
  margin: 1em;
  font-size: 40px;
  display: flex;
  justify-content: inherit;
}

.highlight {
  padding: 0;
  background: none;
  background-image: linear-gradient(
    120deg,
    rgba(255, 204, 51, 0.74),
    rgba(255, 204, 51, 0.74)
  );
  background-repeat: no-repeat;
  background-position: 0 250%;
  background-size: 100% 1rem;
  position: relative;
}

.text-decor {
  font-weight: 800;
  font-size: 28px;
  color: rgb(255, 204, 51);
}

/* .text-decor:hover {
  font-weight: 800;
  color: rgba(97, 91, 75, 0.74);
} */

.about-img {
  width: 140%;
  /* margin-left: 25em; */
}

.about-container-media {
  display: none;
}

.image-container-media {
  display: none;
}

/* section 3*/

.section-3 {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

.container-3 {
  max-width: 155vh;
  max-height: 80%;
  margin: 5rem auto 0 auto;
  background-color: none;
  padding: 50px;
}

/* .resume-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vh;
} */

.resume-nav {
  display: flex;
  justify-content: center;
  /* padding: 5rem 7rem 6.5rem 8rem; */
}

.btn {
  /* display: inline-block; */
  font-weight: 500;
  font-size: 18px;
  border: none;
  padding: 1.2rem 5rem;
  cursor: pointer;
  transition: all 1s;
  color: #ffffff;
  background-color: rgb(12, 12, 12);
}

/* .btn:hover {
  background-color: var(--color-primary-darker);
}

.btn.active {
  background-color: none;
} */

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: flex;
}

.btn:hover {
  border-bottom: 2px solid rgb(255, 204, 51);
}

.resume-nav .active {
  border-bottom: 2px solid rgb(255, 204, 51);
}

.resume__header {
  display: flex;
  padding: 10px;
  padding-bottom: 20px;
  font-size: 45px;
  color: #ffffff;
  text-shadow: 4px 4px 0px rgb(212, 152, 42);
  mix-blend-mode: screen;
  animation: fadeIn 1s linear forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.resume-text {
  display: flex;
  text-align: justify;
  line-height: 1.5;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 22px;
  color: rgb(255, 255, 255);
}

#web-dev {
  /* display: flex; */
  flex-direction: column;
  box-sizing: border-box;
  margin: 1em;
  margin-left: 100px;
  padding: 10px;
}

ul#coding-list li {
  font-size: 25px;
  font-weight: 500;
  padding-top: 20px;
  color: rgb(255, 204, 51);
  padding: 10px;
  letter-spacing: 2px;
  text-decoration: none;
}

ul#tools-list li {
  font-size: 25px;
  font-weight: 500;
  padding-top: 20px;
  /* color: rgb(0, 0, 0); */
  padding: 10px;
  text-decoration: none;
  color: rgb(255, 204, 51);
}

#highlight-tools {
  color: rgb(255, 204, 51);
}

#skills {
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 20px;
  margin: 1em;
  margin-left: 100px;
  padding: 10px;
}

#education {
  /* display: flex; */
  flex-direction: column;
  box-sizing: border-box;
  margin: 1em;
  margin-left: 100px;
  padding: 10px;
}

.list-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* margin: auto; */
  margin-top: 8.6%;
  width: 50%;
  height: 20vh;
  /* background-color: rgba(128, 128, 128, 0.068); */
  color: #ffffff;
  z-index: 10;
}

.list-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin: auto; */
  margin-top: 8.6%;
  /* width: 50%;
  height: 20vh; */
  background-color: none;
  color: #ffffff;
  z-index: 10;
}

#cv {
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 20px;
  margin: 1em;
  margin-left: 100px;
  padding: 10px;
}

.download-cv {
  width: auto;
}

.btn-cv {
  background-color: rgb(255, 204, 51);
  color: rgb(12, 12, 12);
  font-size: large;
  border-radius: 20px;
  text-decoration: none;
  margin: auto;
}

.section-4 {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

/*

.resume__tab-container {
  display: flex;
  justify-content: center;
}

.resume__content {
  display: none;
  font-size: 1.7rem;
  padding: 5rem 7rem 6.5rem 8rem;
}

.resume__content--active {
  display: grid;
  /* grid-template-columns: 7rem 1fr; */
/* column-gap: 3rem;
  row-gap: 0.5rem;
} */

@media only screen and (max-width: 700px) {
  body {
    margin: 0;
    background: none;
    background-color: rgb(0, 0, 0);
  }

  label {
    position: sticky;
    display: flex;
    cursor: pointer;
    justify-content: right;
    float: right;
    width: auto;
    z-index: 100;
    /* width: 26px;
      float: right; */
  }

  .menu-bar {
    height: 100vh;
    width: 100%;
  }

  .menu {
    background-color: rgb(212, 152, 42);
    padding: 120px;
    padding-top: 100px;
    padding-bottom: 90px;
    /* line-height: 50px; */
    text-align: center;
    width: 100%;
    display: none;
    z-index: 100;
  }

  .menu a {
    line-height: 50px;
    /* clear: right; */
    display: block;
    /* border-bottom: 1px solid #000000;
      border-width: 100%; */
    margin: 0;
    z-index: 100;
  }

  #toggle:checked + .menu {
    display: block;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 100;
  }

  .main-title-container {
    position: absolute;
    left: 0px;
    top: 0px;
    color: rgb(255, 255, 255);
    font-size: 35px;
    margin: 0px;
    margin-top: 100px;
    margin-left: -8px;
    z-index: -50;
  }

  mark {
    color: rgb(255, 255, 255);
  }

  /*section 2*/

  .background-animation {
    display: flex;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    z-index: 5;
  }

  .about-container-media {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    z-index: 1000;
    width: 50%;
    height: 20%;
  }

  .image-container-media {
    display: flex;
    flex-direction: column;
    z-index: 500;
  }

  .about-img-media {
    width: 12em;
  }

  .title-2-media {
    color: #ffffff;
    /* display: flex;
    justify-content: center; */
    align-items: center;
    z-index: 100;
    /* width: 80%;
    height: 50%; */
    margin: 10px;
    margin-left: 10px;
  }

  .text-media {
    /* display: flex;
    justify-content: center; */
    line-height: 20px;
    text-align: justify;
    /* text-justify: inter-word; */
    color: #ffffff;
    z-index: 100;
  }

  .about-container {
    display: none;
  }

  .about-img {
    display: none;
  }

  svg {
    z-index: 500;
  }
}
